# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Secret files
.env
.env.*

# Static files
staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db